.boxed-btn, input[type="submit"], button[type="submit"], .case-study-wrapper:before, .owl-dots div.active, .video-play-btn, .active .testimonila-text, .website-checker-form input[type="submit"], .website-checker-form button[type="submit"] {
    background-color:#3498db
}
.testimonila-text:after{border-top: 30px solid #3498db}
.mainmenu li.active a, .mainmenu li a:hover, .single-service-box:hover .service-icon i.fa, .single-service-box:hover i.zmdi, .single-service-box:hover h4, .single-service-box:hover .service-readmore-btn, .price, .footer-widget-area a:hover, .social-links li a:hover, .mainmenu li.active a, .mainmenu li > a:hover {
    color: #3498db;
}
.single-service-box:hover, .single-price-box:hover {
    border: 1px solid #3498db;
}
.single-price-box:hover .pricing-heading{border-bottom: 1px solid #3498db}