
.about-text .boxed-btn {
  margin-top: 30px;
}

input[type="submit"],
button[type="submit"] {
    background: #06D6A0;
}
.slicknav_btn, .slicknav_nav .slicknav_row:hover, .slicknav_nav a:hover {
    background-color: #06D6A0;
}

.single-slide-item {
    background-color: #3399ff;
    background-position: center center;
    background-size: cover;
    color: #fff;
    display: table;
    line-height: 30px;
    position: relative;
    width: 100%;
    z-index: 1;
    padding-top: 60px;
}

.single-slide-item:after {
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}